<div *ngIf="rules">
  <table class="table table-hover table-bordered">
    <thead>
    <tr *ngIf="rules.length != 0">
      <th colspan="5">
        <div class="row" style="margin-bottom:0px">
          <div class="col-sm-10">
            <input class="form-control form-control-sm" [(ngModel)]="filterQuery" placeholder="Filter By Name"/>
          </div>
          <div class="col-sm-2">
            <button *ngIf="operation != 'test'" class="btn btn-primary btn-sm pull-right" (click)="createNewRule()"><i class="fa fa-plus" aria-hidden="true"> </i> <span class="onhover">Create Rule</span></button>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th>
        #
      </th>
      <th>
        Name
      </th>
      <th style="width: 150px;"*ngIf="operation != 'test'">Action</th>
    </tr>
    </thead>
    <tbody *ngFor="let rule of rules | dataFilter : filterQuery:'name'| paginate: { itemsPerPage: currentPageSize, currentPage: currentPage };let i = index">
    <tr>
      <td>{{((currentPage - 1) * currentPageSize)+ i + 1}}</td>
      <td>{{rule.name}}<span *ngIf="rule.isDefault" class="badge badge-pill badge-info pull-right">Default</span></td>
      <td *ngIf="operation != 'test'">
        <button tooltip="Edit Rule" (click)="editRule(rule)" class="btn btn-primary btn-sm">
          <i class="fa fa-pencil" aria-hidden="true"> </i></button>
        <button *ngIf="!rule.isDefault" tooltip="Make Rule Default" (click)="makeDefault(rule)" class="btn btn-default btn-sm">
          <i class="fa fa-check" aria-hidden="true"> </i></button>
        <button *ngIf="!rule.isDefault" tooltip="Remove Rule" (click)="deleteIndex = i" class="btn btn-danger btn-sm">
          <i class="fa fa-close" aria-hidden="true"> </i></button>
      </td>
    </tr>
    <tr *ngIf="deleteIndex == i">
      <td colspan="100%">Are you sure you want to remove this rule?
        <button (click)="deleteRule(i);deleteIndex = -1" class="btn btn-danger">Remove</button>
        <button (click)="deleteIndex = -1" class="btn btn-success">Cancel</button></td>
    </tr>
    </tbody>
    <tbody>
    <tr *ngIf="rules.length == 0">
      <td colspan="100%">
        <app-message [type]="'info'" [messageObject]="noRules">
        </app-message>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-3">Showing {{((currentPage - 1) * currentPageSize) + 1}} - {{((currentPage - 1) * currentPageSize) + (rules | dataFilter : filterQuery:'name'| paginate: { itemsPerPage: currentPageSize, currentPage: currentPage }).length}} of {{(rules | dataFilter : filterQuery:'name').length}}
    </div>
    <div class="col-sm-5">
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
    <div class="col-sm-4">
      <nav aria-label="Page navigation">
        <ul class="pagination pull-right">
          <li [ngClass]="{'active':currentPageSize == pageSize}" class="page-item" *ngFor="let pageSize of pageSizes"><a class="page-link" (click)="currentPageSize = pageSize">{{pageSize}}</a></li>
          <li [ngClass]="{'active':currentPageSize == rules.length}" class="page-item"><a class="page-link" (click)="currentPageSize = rules.length" href="#">All</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
