<div class="visualization-filter-section" appClickOutside (clickOutside)="selectedFilter = undefined">
  <div class="visualization-filter-buttons">
    <button class="visualization-filter-btn {{filterConfig.hideButtonBorders ? 'no-borders' : ''}}" title="Filter by different dimensions" [disabled]="!loaded"
            (click)="toggleFilters($event)">
      <img *ngIf="!showFilters" src="assets/icons/filter.png" alt="">
      <img *ngIf="showFilters" src="assets/icons/close.png" alt="">
    </button>
    <div *ngIf="showFilters" class="visualization-filter-list" [@open]>
      <button class="visualization-filter-btn data-filter-btn" *ngIf="filterConfig.showData"
              [ngClass]="{'active-filter': selectedFilter === 'DATA'}"
              title="Filter by data" (click)="toggleCurrentFilter($event, 'DATA')">
        <img src="assets/icons/data.png" alt="">&nbsp;Data
      </button>
      <button class="visualization-filter-btn period-filter-btn" [ngClass]="{'active-filter': selectedFilter === 'PERIOD'}"
              title="Filter by period" (click)="toggleCurrentFilter($event, 'PERIOD')">
        <img src="assets/icons/period.png" alt="">&nbsp;Period
      </button>
      <button class="visualization-filter-btn org-unit-filter-btn" [ngClass]="{'active-filter': selectedFilter === 'ORG_UNIT'}"
              title="Filter by organisation unit" (click)="toggleCurrentFilter($event, 'ORG_UNIT')">
        <img src="assets/icons/tree.png" alt="">&nbsp;Org-Unit
      </button>

      <button class="visualization-filter-btn layout-filter-btn" *ngIf="filterConfig.showLayout"
              [ngClass]="{'active-filter': selectedFilter === 'LAYOUT'}"
              title="Change layout" (click)="toggleCurrentFilter($event, 'LAYOUT')">
        <img src="assets/icons/layout.png" alt="">&nbsp;Layout
      </button>

    </div>
  </div>

  <div class="visualization-filter-body visualization-filter-border" [@open] *ngIf="selectedFilter">
    <!--org unit filter-->
    <app-org-unit-filter *ngIf="selectedFilter === 'ORG_UNIT'" [orgUnitModel]="selectedDimensions?.orgUnitModel"
                         (onOrgUnitClose)="selectedFilter = undefined" #orgUnitTree
                         (onOrgUnitUpdate)="onFilterUpdateAction($event, 'ORG_UNIT')"></app-org-unit-filter>
    <!--end of org unit filter-->

    <!--period filter-->
    <app-period-filter *ngIf="selectedFilter === 'PERIOD'" [selectedPeriods]="selectedDimensions?.selectedPeriods"
                       (onPeriodFilterClose)="selectedFilter = undefined" #periodTree
                       (onPeriodUpdate)="onFilterUpdateAction($event, 'PERIOD')"></app-period-filter>
    <!--end of period filter-->

    <!--data filter-->
    <app-data-filter *ngIf="selectedFilter === 'DATA'" [selectedItems]="selectedDimensions?.selectedDataItems"
                     (onDataFilterClose)="selectedFilter = undefined"
                     (onDataUpdate)="onFilterUpdateAction($event, 'DATA')"></app-data-filter>
    <!--end of data filter-->

    <!--layout filter-->
    <app-layout *ngIf="selectedFilter === 'LAYOUT'" [layoutModel]="selectedDimensions?.layoutModel"
                [visualizationType]="visualizationType" (onLayoutClose)="selectedFilter = undefined"
                (onLayoutUpdate)="onFilterUpdateAction($event, 'LAYOUT')"></app-layout>
    <!--end of layout filter-->


  </div>
  <div class="pull-right" style="margin-top: -30px;">
    <div class="btn-group" role="group" style="width: 100%;" aria-label="Button group with nested dropdown">
      <button type="button" class="btn btn-outline-primary" style="width: 100%;" (click)="updateSelection()">Test</button>

      <div class="btn-group" dropdown style="padding:0px">
        <button dropdownToggle type="button" class="col-sm-12 btn btn-primary dropdown-toggle">
          <span class="caret pull-right"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right test" style="z-index: 10000;" role="menu">
          <li role="menuitem" *ngFor="let key of objectKeys(runOptions)">
            <a class="dropdown-item" (click)="run(runOptions[key])">{{runOptions[key].name}}
              <span *ngIf="runOptions[key].exception" class="badge badge-pill badge-danger pull-right">exception</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
